@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome To Movie App</h1>
    <p style="font-size:27px">Login To See Details of All movies</p>
    <a class="btn btn-outline-primary w-50" asp-controller="Home"asp-action="User">Login</a>
</div>
